@model OrBoard.Client.Models.HospitalRegisterViewModel

@{
    Layout = "_LoginLayout";
}

<div style="position: relative; left: 40px;">
    <h1>Provider Registration</h1>
    <h2>Give us your details. Note that this is subject to administrator approval. </h2>

    <form action="/Registration/Facility" method="post">
      <p>
          <label>Facility Name</label>
          <input type="text" asp-for="@Model.Name"></br>
      </p>
    
      <p>
          <label>Address</label>
          <input type="text" asp-for="@Model.Address"></br>
      </p>
    
      <p>
          <label>Facility Ownership</label>
          <input type="text" asp-for="@Model.FacilityOwnership"></br>
      </p>
    
      <p>
          <label>OR Manager</label>
          <input type="text" asp-for="@Model.ORManager"></br>
      </p>
    
      <p>
          <label>OR Manager Email</label>
          <input type="email" asp-for="@Model.ManagerEmail"></br>
      </p>
    
     <p>
          <label>Telephone</label>
          <input type="phone" asp-for="@Model.Telephone"></br>
     </p>
    
      <p>
          <label>Fax</label>
          <input type="phone" asp-for="@Model.Fax"></br>
      </p>
    
     <p>
          <label>License Number</label>
          <input type="number" asp-for="@Model.LicenseNumber"></br>
     </p>
    
      <p>
          <label>License Status</label></br>
          <input type="radio" asp-for="@Model.LicenseStatus" value="true">Active License</br>
          <input type="radio" asp-for="@Model.LicenseStatus" value="false">Inactive License</br>
      </p>
    
     <p>
          <label>EIN Number</label>
          <input type="number" asp-for="@Model.EINNumber"></br>
     </p>
    
      <p>
          <label>EIN Status</label></br>
          <input type="radio" asp-for="@Model.EINStatus" value="true">Active License</br>
          <input type="radio" asp-for="@Model.EINStatus" value="false">Inactive License</br>
      </p>
    
      <p>
          <label>Facility Type</label>
          <input type="text" asp-for="@Model.FacilityType"></br>
      </p>
    
      <p>
          <label>City</label>
          <input type="text" asp-for="@Model.City"></br>
      </p>
    
      <p>
          <label>State</label>
          <input type="text" asp-for="@Model.State"></br>
      </p>
    
      <p>
          <label>Zip Code</label>
          <input type="text" asp-for="@Model.ZipCode"></br>
      </p>
    
     <p>
          <h3>Now let's create a login</h3>
          
          <label>User Name</label>
          <input type="string" asp-for="@Model.UserName"></br>
          
          <label>Login Password</label>
          <input type="password" asp-for="@Model.Password">
     </p>
    
      <button type="submit">Submit Information</button>
    </form>
</div>