@model OrBoard.Client.Models.HospitalRegisterViewModel

<h1>Provider Registration</h1>
<h2>Give us your details. Note that this is subject to administrator approval. </h2>

<form action="/Registration/Facility" method="post">

  <label>Facility Name</label></br>
  <input type="text" asp-for="@Model.Name"></br>

  <label>Address</label></br>
  <input type="text" asp-for="@Model.Address"></br>

  <label>Facility Ownership</label></br>
  <input type="text" asp-for="@Model.FacilityOwnership"></br>

  <label>OR Manager</label></br>
  <input type="text" asp-for="@Model.ORManager"></br>

  <label>OR Manager Email</label></br>
  <input type="email" asp-for="@Model.ManagerEmail"></br>

  <label>Telephone</label></br>
  <input type="phone" asp-for="@Model.Telephone"></br>

  <label>Fax</label></br>
  <input type="phone" asp-for="@Model.Fax"></br>

  <label>License Number</label></br>
  <input type="number" asp-for="@Model.LicenseNumber"></br>

  <label>License Status</label></br>
  <input type="radio" asp-for="@Model.LicenseStatus" value="true">Active License</br>
  <input type="radio" asp-for="@Model.LicenseStatus" value="false">Inactive License</br>

  <label>EIN Number</label></br>
  <input type="number" asp-for="@Model.EINNumber"></br>

  <label>EIN Status</label>
  <input type="radio" asp-for="@Model.EINStatus" value="true">Active License</br>
  <input type="radio" asp-for="@Model.EINStatus" value="false">Inactive License</br>

  <label>Facility Type</label>
  <input type="text" asp-for="@Model.FacilityType"></br>

  <label>City</label>
  <input type="text" asp-for="@Model.City"></br>

  <label>State</label>
  <input type="text" asp-for="@Model.State"></br>

  <label>Zip Code</label>
  <input type="text" asp-for="@Model.ZipCode"></br>

  <h3>Now let's create a login</h3>
  
  <label>User Name</label>
  <input type="string" asp-for="@Model.UserName">
  
  <label>Login Password</label>
  <input type="password" asp-for="@Model.Password">

  <label>Creation Date</label>
  <input type="date" asp-for="@Model.CreationDateTime">

  <button type="submit">Submit Information</button>
</form>