@model OrBoard.Client.Models.ProviderRegisterViewModel

@{
    Layout = "_LoginLayout";
}

<div style="position: relative; left: 40px;">
    <h1>Provider Registration</h1>
    <h2>Give us your details. Note that this is subject to administrator approval. </h2>  

    <form asp-action="/Registration/Provider" method="post">
      <p>
          <label>First Name</label>
          <input type="text" asp-for="@Model.FirstName"></br>
      </p>
    
      <p>
          <label>Last Name</label>
          <input type="text" asp-for="@Model.LastName"></br>
      </p>
    
      <p>
          <label>Email</label>
          <input type="text" asp-for="@Model.Email"></br>
      </p>
    
      <p>
          <label>Phone</label>
          <input type="text" asp-for="@Model.Phone"></br>
      </p>
    
     <p>
          <label>Street Address</label>
          <input type="text" asp-for="@Model.StreetAddress"></br>
     </p>
    
      <p>
          <label>City</label>
          <input type="text" asp-for="@Model.City"></br>
      </p>
    
      <p>
          <label>State</label>
          <input type="text" asp-for="@Model.State"></br>
      </p>
    
      <p>
          <label>Zip Code</label>
          <input type="number" asp-for="@Model.Zip"></br>
      </p>
    
      <p>
          <label>Specialty</label></br>
          <input type="radio" asp-for="@Model.Specialty" value="Anesthetist">Anesthetist</br>
          <input type="radio" asp-for="@Model.Specialty" value="Nurse">Nurse</br>
          <input type="radio" asp-for="@Model.Specialty" value="Surgeon">Surgeon</br>
      </p>
    
      <p>
          <label>License Number</label>
          <input type="number" asp-for="@Model.LicenseNumber"></br>
      </p>
    
     <p>
          <label>License Status</label></br>
          <input type="radio" asp-for="@Model.LicenseStatus" value="true">Active License</br>
          <input type="radio" asp-for="@Model.LicenseStatus" value="false">Inactive License</br>
     </p>
    
     <p>
          <label>License Number</label>
          <input type="number" asp-for="@Model.NPINumber">
     </p>
    
      <p>
          <label>License Status</label></br>
          <input type="radio" asp-for="@Model.NPIStatus" value="true">Active License</br>
          <input type="radio" asp-for="@Model.NPIStatus" value="false">Inactive License</br> 
      </p>
      
      <h3>Now let's create a login</h3>
      
      <p>
          <label>User Name</label>
          <input type="string" asp-for="@Model.UserName"></br>
          
          <label>Login Password</label>
          <input type="password" asp-for="@Model.Password">
      </p>
    
      <button type="submit">Submit Information</button>
     
    </form>
</div>