@model OrBoard.Client.Models.ProviderRegisterViewModel

@{
    Layout = "_LoginLayout";
}


 
<div style="position: relative; left: 40px;">
    <h1>Provider Registration</h1>
    <h2>Give us your details. Note that this is subject to administrator approval. </h2>  

    <form asp-action="/Registration/Provider" method="post">
      <div class="form-group">
        <div class="col-md-8">
          <label>First Name</label>
          <input type="text" asp-for="@Model.FirstName"></br>
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>Last Name</label>
          <input type="text" asp-for="@Model.LastName"></br>
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>Email</label>
          <input type="text" asp-for="@Model.Email"></br>
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>Phone</label>
          <input type="text" asp-for="@Model.Phone"></br>
        </div>
      </div>
    
     <div class="form-group">
       <div class="col-md-8">
          <label>Street Address</label>
          <input type="text" asp-for="@Model.StreetAddress"></br>
       </div>
     </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>City</label>
          <input type="text" asp-for="@Model.City"></br>
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>State</label>
          <input type="text" asp-for="@Model.State"></br>
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>Zip Code</label>
          <input type="number" asp-for="@Model.Zip"></br>
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>Specialty</label></br>
          <input type="radio" asp-for="@Model.Specialty" value="Anesthetist">Anesthetist</br>
          <input type="radio" asp-for="@Model.Specialty" value="Nurse">Nurse</br>
          <input type="radio" asp-for="@Model.Specialty" value="Surgeon">Surgeon</br>
        </div>
      </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>License Number</label>
          <input type="number" asp-for="@Model.LicenseNumber"></br>
      </div>
      </div>
    
     <div class="form-group">
       <div class="col-md-8">
          <label>License Status</label></br>
          <input type="radio" asp-for="@Model.LicenseStatus" value="true">Active License</br>
          <input type="radio" asp-for="@Model.LicenseStatus" value="false">Inactive License</br>
       </div>
     </div>
    
     <div class="form-group">
       <div class="col-md-8">
          <label>NPI Number</label>
          <input type="number" asp-for="@Model.NPINumber">
        </div>  
     </div>
    
      <div class="form-group">
        <div class="col-md-8">
          <label>NPI Status</label></br>
          <input type="radio" asp-for="@Model.NPIStatus" value="true">Active License</br>
          <input type="radio" asp-for="@Model.NPIStatus" value="false">Inactive License</br>
        </div> 
      </div>
      
      <h5>Now let's create a login</h5>
      
      <div class="form-group">
        <div class="col-md-8">
          <label>User Name</label>
          <input type="string" asp-for="@Model.UserName"></br>
          <label>Login Password</label>
          <input type="password" asp-for="@Model.Password">
        </div>  
      </div>
    
      <button type="submit">Submit Information</button>
     
    </form>
</div>