@model OrBoard.Client.Models.ProviderRegisterViewModel

@{
    Layout = "_LoginLayout";
}


 
<div style="position: relative; left: 40px;">
    <h4>Provider Registration</h4>
    <p><i>Give us your details. Note that this is subject to <a>administrator approval</a>.</i></p>
    <hr>
    <form class="form-group" asp-action="/Registration/Provider" method="post">
        <h4>Provider Identity:</h4>
        <div class="form-group">
          <label>First Name:</label>
          <input type="text" size="50" asp-for="@Model.FirstName">
          <label>Last Name:</label>
          <input type="text" size="50" asp-for="@Model.LastName">          
        </div>
        <hr>
        <h4>Location:</h4>   
        <div class="form-group">
          <label>Address:</label>
          <input type="text" size="38" asp-for="@Model.StreetAddress">
          <label>City:</label>
          <input type="text" size="25" asp-for="@Model.City">
          <label>State:</label>
          <input type="text" size="15" asp-for="@Model.State">
          <label>Zip Code:</label>
          <input type="text" size="10" asp-for="@Model.Zip">
        </div>       
        <hr>
        <h4>Contacts:</h4>      
        <div class="form-group">          
          <label>Email:</label>
          <input type="email" size="32" asp-for="@Model.Email">
          <label>Telephone:</label>
          <input type="phone" size="16" asp-for="@Model.Phone">          
        </div>
        <hr>
        <h4>Specialty:</h4>
        <div class="form-check form-check-inline">            
          <input class="form-check-input" type="radio" asp-for="@Model.Specialty" value="Anesthetist">
          <label class="form-check-label">Anesthetist</label>
        </div>
        <div class="form-check form-check-inline">           
          <input class="form-check-input" type="radio" asp-for="@Model.Specialty" value="Nurse">
          <label class="form-check-label">Surgeon</label>
        </div>
        <div class="form-check form-check-inline">           
          <input class="form-check-input" type="radio" asp-for="@Model.Specialty" value="Surgeon">
          <label class="form-check-label">Nurse</label>
        </div>      
        <hr>
        <h4>Provider Credentials:</h4>
        <div>
          <div class="form-group form-group-inline">
            <label>License Number:</label>
            <input type="number" asp-for="@Model.LicenseNumber">          
              <div class="form-check form-check-inline">                            
                <input class="form-check-input" type="radio" asp-for="@Model.LicenseStatus" value="true">
                <label class="form-check-label">Active<label>
                </div>
              <div class="form-check form-check-inline">                
                <input class="form-check-input" type="radio" asp-for="@Model.LicenseStatus" value="false">
                <label class="form-check-label">Inactive<label>               
              </div>
          </div>
            <div class="form-group form-group-inline">
             <label>NPI Number:</label>
             <input type="number" asp-for="@Model.NPINumber">            
              <div class="form-check form-check-inline">                       
                <input class="form-check-input" type="radio" asp-for="@Model.NPIStatus" value="true">
                <label class="form-check-label">Active</label>
              </div>
              <div class="form-check form-check-inline">                 
                <input class="form-check-input" type="radio" asp-for="@Model.NPIStatus" value="false">
                <label class="form-check-label">Inactive</label>
              </div>
            </div>      
        </div>
        <hr>
        <h4><i>Now let's create a login</i></h4>          
        <div class="form-group">                    
          <label>User Name:</label>
          <input type="string" size="50" asp-for="@Model.UserName">          
          <label>Login Password:</label>
          <input type="password" asp-for="@Model.Password">
        </div>
        <hr>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Submit Information</button>
            <p><i>By clicking 'Submit Information' you agree to <a href="">Terms and Conditions</a="nav-link>.</i></p>
        </div> 
        <hr>     
    </form>
</div>