@model OrBoard.Client.Models.ProviderRegisterViewModel

<h1>Provider Registration</h1>
<h2>Give us your details. Note that this is subject to administrator approval. </h2>

<form asp-action="/Registration/Provider" method="post">

  <label>First Name</label>
  <input type="text" asp-for="@Model.FirstName"></br>

  <label>Last Name</label>
  <input type="text" asp-for="@Model.LastName"></br>

  <label>Email</label>
  <input type="text" asp-for="@Model.Email"></br>

  <label>Phone</label>
  <input type="text" asp-for="@Model.Phone"></br>

  <label>Street Address</label>
  <input type="text" asp-for="@Model.StreetAddress"></br>

  <label>City</label>
  <input type="text" asp-for="@Model.City"></br>

  <label>State</label>
  <input type="text" asp-for="@Model.State"></br>

  <label>Zip Code</label>
  <input type="number" asp-for="@Model.Zip"></br>

  <label>Specialty</label>
  <input type="radio" asp-for="@Model.Specialty" value="Anesthetist">Anesthetist</br>
  <input type="radio" asp-for="@Model.Specialty" value="Nurse">Nurse</br>
  <input type="radio" asp-for="@Model.Specialty" value="Surgeon">Surgeon</br>

  <label>License Number</label>
  <input type="number" asp-for="@Model.LicenseNumber"></br>

  <label>License Status</label>
  <input type="radio" asp-for="@Model.LicenseStatus" value="true">Active License</br>
  <input type="radio" asp-for="@Model.LicenseStatus" value="false">Inactive License</br>

   <label>License Number</label>
  <input type="number" asp-for="@Model.NPINumber">

  <label>License Status</label>
  <input type="radio" asp-for="@Model.NPIStatus" value="true">Active License</br>
  <input type="radio" asp-for="@Model.NPIStatus" value="false">Inactive License</br> 
  
  <h3>Now let's create a login</h3>
  
  <label>User Name</label>
  <input type="string" asp-for="@Model.UserName">
  
  <label>Login Password</label>
  <input type="password" asp-for="@Model.Password">

  <label>Creation Date</label>
  <input type="date" asp-for="@Model.CreationDateTime">

  <button type="submit">Submit Information</button>
 
</form>