@model OrBoard.Domain.Abstracts.ADoctor

<h1>Provider Registration</h1>
<h2>Give us your details. Note that this is subject to administrator approval. </h2>
<form>
  <label>First Name</label>
  <input type="text" name="@Model.FirstName">

  <label>Last Name</label>
  <input type="text" name="@Model.LastName">

  <label>Email</label>
  <input type="email" name="@Model.Email">

  <label>Street Address</label>
  <input type="text" name="@Model.StreetAddress">

  <label>City</label>
  <input type="text" name="@Model.City">

  <label>State</label>
  <input type="text" name="@Model.State">

  <label>Zip Code</label>
  <input type="number" name="@Model.Zip">

  <label>License Number</label>
  <input type="number" name="@Model.LicenseNumber">

  <label>License Status</label>
  <input type="button" name="@Model.LicenseStatus"> <!--Hard-coded-->
  <input type="button" name="@Model.LicenseStatus"> <!--Hard-coded-->

   <label>License Number</label>
  <input type="number" name="@Model.NPINumber">

  <label>License Status</label>
  <input type="button" name="@Model.NPIStatus">
  <input type="button" name="@Model.NPIStatus">

  
</form>