@model OrBoard.Client.Models.NewCaseViewModel


<body>
    <div style="position: relative; left: 50px;">
        <form action="/newcases/index" method="post" id="add">
            <p>
                <label>Anesthetist</label>
                <select asp-for="@Model.Procedure.AnesthetistId">
                    @foreach (var item in Model.Anesthetist)
                    {
                        <option value="@item.AnesthetistId">@item.FirstName @item.LastName</option>
                    }
                </select>
            </p>
            <p>
                <label>Operating Room</label>
                <select asp-for="@Model.Procedure.OperatingRoomId">
                    @foreach (var item in Model.OperatingRoom)
                    {
                        <option value="@item.OperatingRoomId">@item.HospitalName | Room @item.OperatingRoomId | @item.OperatingRoomStatus | @item.DateTimeAvailable</option>
                    }
                </select>
            </p>
            <p>
                <label for="pname">Procedure Name</label>
                <input type="text" id="pname" asp-for="@Model.Procedure.ProcedureName">
                @Html.ValidationMessageFor(p => p.Procedure.ProcedureName, "", new{ @class = "text-danger" })
            </p>
            <p>
                <label for="duration">Estimated Time of Procedure(hours:minutes)</label>
                <input type="text" pattern="([0-9]{1}[0-9]{1}:){0,2}[0-5]{0,1}[0-9]{1}(\.\d+)?" asp-for="@Model.Procedure.EstimatedProcedureLength">
            </p>
            <input type="hidden" value="Pending" asp-for="@Model.Procedure.Status">
        </form>
        <button type="submit" form="add">Submit</button>
    </div>
</body>