@model OrBoard.Client.Models.CasesViewModel

<div class="table-responsive" style="position: relative; left: 40px;">
    <table class="table table-bordered table-sm" style="font-size: 12px;">
        <thead>
            <tr>
                <th>Case #</th>
                <th>Procedure</th>
                <th>Scheduled Date</th>
                <th>Anesthetist</th>
                <th>Nurse</th>
                <th>Status</th>
                <th>Actual Start</th>
                <th>Actual Finish</th>
                <th>Estimated Duration</th>
                <th>Edit</th>
            </tr>
            @foreach (var item in Model.ProcedureList)
            {
                <tr>
                    <td>
                        @item.ProcedureId
                    </td>
                    <td>
                        @item.ProcedureName
                    </td>
                    <td>
                        @item.ScheduledDateTime
                    </td>
                    <td>
                        @foreach (var item2 in Model.AnesthetistList)
                        {
                            if(item.AnesthetistId == item2.AnesthetistId)
                            {
                                @item2.FirstName@:&nbsp;@item2.LastName
                            }
                        }
                    </td>
                    <td>
                        @foreach (var item2 in Model.NurseList)
                        {
                            if(item.NurseId == item2.NurseId)
                            {
                                @item2.FirstName@:&nbsp;@item2.LastName
                            }
                        }
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.ActualStart
                    </td>
                    <td>
                        @item.ActualFinish
                    </td>
                    <td>
                        @item.EstimatedProcedureLength
                    </td>
                    <td>
                        <form asp-controller="Cases" asp-action="EditCases"> 
                            <button type="submit" value="@item.ProcedureId" name="editid">Edit</button>
                        </form>
                    </td>
                </tr>
            }
        </thead>
    </table>
</div>