@model OrBoard.Client.Models.OperatingRoomsViewModel

<h6>
  <legend>Operating Rooms:</legend>

    <table class="table table-hover">
            <tr class="table-active table-primary">
                <th>@Html.DisplayNameFor(model => model.OperatingRoom.OperatingRoomId)
                </th>          
                <th>@Html.DisplayNameFor(model => model.OperatingRoom.OrName)
                </th>
                <th>@Html.DisplayNameFor(model => model.OperatingRoom.HospitalName)
                </th>
                <th>@Html.DisplayNameFor(model => model.OperatingRoom.OpRoomStatus)
                </th>
                <th>@Html.DisplayNameFor(model => model.OperatingRoom.DateTimeAvailable)
                </th>               
                <th></th>
            </tr>
            @foreach (var item in Model.OpRooms) {
            <tr class="table-active table-primary">
                <td>@Html.DisplayFor(modelItem => item.OperatingRoomId)
                </td>         
                <td>@Html.DisplayFor(modelItem => item.OrName)
                </td>
                <td>@Html.DisplayFor(modelItem => item.HospitalName)
                </td>
                <td>@Html.DisplayFor(modelItem => item.OpRoomStatus)
                </td>
                <td>@Html.DisplayFor(modelItem => item.DateTimeAvailable)
                </td>                           
                <td>                
                    <form asp-controller="OperatingRooms" asp-action="FloatOr" method="get">
                        <button class="btn btn-primary" type="submit" value="@item.OperatingRoomId" name="orid" id="orid">Edit</button>
                    </form>
                </td>
            </tr>
            }
        </table>
    <h6><a class="nav-link" asp-area="" asp-controller="OperatingRooms" asp-action="AddNewRoom">Add new Operating Room</a></h6>
    <h6><a class="nav-link" asp-area="" asp-controller="OperatingRooms" asp-action="ViewHospitals">View Hospitals</a></h6>
</h6>